body {
	text-align: center;
	font-family: sans-serif;
	background-color: #eaedca;
	color: black;
}

a {
	color: blue;
    padding: .8rem;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

.navigation {
    /* line-height: 2; */
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-bottom: 1.5rem; */
    background-color: #9e9e9ebf;
}

.about {
    margin-left: 6rem;
    margin-right: 6rem;
}

.linktable {
    background-color: cyan;
}