{% extends "base.html" %}
{% block content %}
    <div>
        <h3>About Reference Links</h3>
        <p class="about">This site uses the Pandas python module to convert an xlsx file into an HTML table.
            Then uses open source javascript code to add the search, sort and pagination features
            to that table. The active links are built into the Pandas module and will open the link
            in a new tab when clicked on.</p>

    </div>
{% endblock content %}
